/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a {
	text-decoration: none;
	color: black;
}

#login_text {
	font-weight: 600;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.pf-title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.pf-title a {
	font-size: 14px;
	text-decoration: none;
	color: black;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
margin: auto;
}

#contact > * {
	text-align: center;

}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

/*ADMIN HEADER*/
.admin-top {
	position: fixed;
	right: 0;
	top: 0;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
}

.admin-top__reveal {
	background-color: black;
	color: white;
}

.admin__header p, .admin__header .fa-solid {
	color: white;
}

/*ADMIN MODALE*/
.modal, .modal2 {
	display:flex;

	position:fixed;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);

}

.modal-header{
	display: flex;
	position: relative;
	width: 100%;
	height: 20px;
}

.modal-header .js-modal-close {
	position: absolute;
	font-size: 30px;
	right : 5px;
}

.modal-header .js-modal-back {
	position: absolute;
	font-size: 30px;
	left : 5px;
}

.modal-gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius:10px;
	width:550px;
	height:550px;
	padding: 30px;
}

.ajout-pic-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	align-items: center;
}

.icon-pic-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 30%;
}

.ajout-pic-container {
	width: 420px;
	height: 169px;
	background-color: #E8F1F6;
}

.fa-image {
	color: #CBD6DC;
	font-size: 80px;
}

.modal-gallery h3 {
	font-family: 'Work Sans';
	font-size:26px;
	font-weight: 400;
	margin-top: 10px;
}

.modal-gallery__pics {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin: 40px 40px 20px 60px;
	padding-bottom: 40px;
	border-bottom: solid 1px rgb(192, 191, 191);
}

.modal-gallery__pics figure {
	position: relative;
}

.modal-gallery__pics a {
	position:absolute;
	right: 5px;
	top: 5px;

	border-radius: 5px;
	padding-top: 5px;
	height: 15px;
	width: 17px;

	background-color: black;
	text-align: center;
	font-size: 11px;
	color: white;
}

.modal-gallery figure {
	max-height:102px;
	width: 20%;
	margin-bottom: 10px;;
}

.modal-gallery img {
	width: 100%;
	height: 100%;
}

.div_form {
	display: flex;
    flex-direction: column;
    gap: 20px;
	padding: 20px 0 20px 0;
}

#input-hidden {
	display: none;
}

.add-pic_input {
	height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	width: 420px;
}

.modal-title {
	font-family: "Work-sans";
	font-size: 26px;
	font-weight: 400;
}

.modal2 .modal-gallery__button {
	height: 20%;
	width: 100%;
	border-top: solid 1px rgb(192, 191, 191);
	position: relative;
}

.modal2 .modal-gallery__button button {
	position: absolute;
    left: 30%;
    top: 25px;
}

.modal2 label {
	font-size: 14px;
	font-weight: 500;
}




/* FILTER BUTTON */
html {
	scroll-behavior: smooth;
}

.filters {
	display: flex;
	justify-content: center;
	margin: 40px 0;
}
  
.filter__btn, .btn-admin {
	font-family: "Syne";
	padding: 10px 20px;
	margin: 0 15px;
	border: 1px solid #1D6154;
	border-radius: 25px;
	color: #1D6154;
	background-color: white;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.5s ease;
}

.valid_btn {
	font-family: "Syne";
	padding: 10px 50px;
	margin: 0 15px;
	border: none;
	border-radius: 25px;
	background-color: #A7A7A7;
	color: white;
}

.valid_btn--active {
	background-color: #1D6154;
}

.filter__btn--active, .btn-admin {
	color: white;
	background-color: #1D6154;
}

.filter__btn:hover, .btn-admin:hover, .valid_btn--active:hover{
	color: white;
	background-color: #1D6154;
	scale: 1.05;
}

#add-pic_button {
	font-family: "Syne";
	padding: 10px 50px;
	margin: 0 15px;
	border: none;
	border-radius: 25px;
	background-color: #CBD6DC;
	color: #306685;
}

.login__form input[type="submit"]:hover{
	color: #1D6154;
	background-color: white;
	scale: 1.05;
}

.login a:hover {
	color: #B1663C;
}

#login__error {
	color: red;
    padding: 10px;
}

/* FOOTER */
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/* LOGIN */
.login{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;

}

.login a{
	text-decoration: underline;
	margin-bottom: 100px;
}

#login__form{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	width: 35%;
}

#login__form input{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login__form label{
	margin: 3em 0 1em 0;
}

#login__form textarea{
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login__form input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	border: 2px solid #1D6154;
	margin : 3em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	transition: all 0.5s ease;
}

#previewImageContainer {
	display: flex;
    justify-content: center;
}

#previewImageContainer img {
	height: 169px;
	max-width: 100%;
	object-fit: cover;
}

figcaption {
	font-family: 'Work Sans' ;
	font-size: 14px;
	font-weight: 400;
}
